.axis path, .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
}