name: Test

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [20, 22]

    name: Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v5

      - name: Ensure apt-get is updated
        run: sudo apt-get update

      - name: Install xmllint
        run: sudo apt-get install -y libxml2-utils

      - name: Setup Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install Node dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:no-lint

      - name: Lint
        run: npm run lint
